.cancha{
  position: relative;
  background-color: green;
  width: 700px;
  height: 500px;
  top: 50px;
  left: 50px;
}
.porteria{
  width: 150px;
  height: 300px;
  border: 5px solid white;

}
#porteriaIzq{
  position: absolute;
  top: 90px;
}
#porteriaDerecha{
  position: absolute;
  top: 90px;
  left: 540px;

}
